/* Colors */
:root {
  --border: #e5e7eb;
  --input: #f3f4f6;
  --ring: #3b82f6;
  --background: #ffffff;
  --foreground: #000000;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --accent: #facc15;
  --accent-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --card: #f3f4f6;
  --card-foreground: #000000;
  --radius: 8px;
}

/* Container */
.container {
  max-width: 1400px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Colors */
.border {
  border-color: var(--border);
}

.input {
  background-color: var(--input);
}

.ring {
  box-shadow: 0 0 0 2px var(--ring);
}

.bg-primary {
  background-color: #187795;
  color: #ffffff;
}

.bg-secondary {
  background-color: #d6d6d6;
  color: #444444;
}

.bg-muted {
  background-color: #828282;
  color: #444444;
}

.bg-destructive {
  background-color: var(--destructive);
  color: var(--destructive-foreground);
}

.bg-accent {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.bg-popover {
  background-color: var(--popover);
  color: var(--popover-foreground);
}

.bg-card {
  background-color: var(--card);
  color: var(--card-foreground);
}

/* Border Radius */
.rounded-lg {
  border-radius: var(--radius);
}

.rounded-md {
  border-radius: calc(var(--radius) - 2px);
}

.rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

/* Animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.accordion-up {
  animation: accordion-up 0.2s ease-out;
}
