/* styles.css or global.css */
body {
  font-family: 'Roboto', sans-serif;
}


/* Layout */
.login-container {
  display: flex;
  min-height: 100vh;
}

/* Left column */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .login-form {
    width: 50%;
    padding: 3rem;
  }
}

.form-content {
  max-width: 400px;
  margin: 0 auto;
}

/* Logo */
.logo {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.logo span:first-child {
  color: #187795; 
}

.logo span:last-child {
  color: black;
}
/* Sign-in heading */
.signin-heading {
  font-size: 22px;
  font-weight: bold;
  color: #1f2937; /* Tailwind gray-900 */
}

.signin-subtext {
  color: #a9aaac; /* Tailwind gray-600 */
  margin-top: 0.5rem;
}

/* Google Sign-in Button */
.google-signin {
  margin-top: 2rem;
}

.google-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #187795; /* Tailwind gray-300 */
  background-color: white;
  color: #374151; /* Tailwind gray-700 */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.google-button:hover {
  background-color: #f9fafb; /* Tailwind gray-50 */
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Create account link */
.create-account {
  margin-top: 2rem;
  text-align: center;
  font-size: 14px;
  color: #4b5563; /* Tailwind gray-600 */
}

.create-account a {
  font-weight: 500;
  color: #1f2937; /* Tailwind gray-900 */
  text-decoration: underline;
}

/* Right column - Image */
.image-container {
  display: none;
}

@media (min-width: 768px) {
  .image-container {
    display: block;
    width: 50%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
