.container {
  /* min-height: 100vh; */
  background-color: #121212;
  padding: 0 2rem 2rem 2rem;
}


.main {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffffff;
}

.card {
  background-color: #1E1E1E;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 1.5rem;
  /* border: 1px solid #2E2E2E; */
}

.cardHeader {
  padding: 1rem 1.5rem;
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2E2E2E;
}

.customerName {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: #00a896;
}

.orderTime {
  font-size: 0.85rem;
  color: #dbdde1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.orderSummary {
  text-align: right;
}

.orderId {
  font-size: 0.9rem;
  color: #dbdde1;
}

.orderAmount {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.itemList {
  padding: 1rem 1.5rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.itemLeft {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.itemImage {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #2E2E2E;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
}

.itemDetail {
  font-size: 0.85rem;
  color: #BBBBBB;
}

.itemTotal {
  font-weight: 500;
  font-size: 0.95rem;
  min-width: 60px;
  text-align: right;
}

.actions {
  border-top: 1px solid #2E2E2E;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  background-color: #1E1E1E;
}

.rejectBtn,
.acceptBtn {
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.rejectBtn {
  background: #b91c1c;
  border: 1px solid #b91c1c;
  color: #FFFFFF;
}

.rejectBtn:hover {
  background-color: #690d0d;
  border-color: #690d0d ;
}

.acceptBtn {
  background-color: #00a896;
  color: #FFFFFF;
  border: none;
}

.acceptBtn:hover {
  background-color: #00695f;
}

.statusBadge {
  font-size: 0.875rem;
  padding: 0.4rem 0.75rem;
  border-radius: 6px;
  font-weight: 500;
}

.accepted {
  background-color: #00a896;
  color: #ffffff;
}

.rejected {
  background-color: #b91c1c;
  color: #ffffff;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.filterLabel {
  font-weight: 500;
  color: #BBBBBB ;
}

.filterSelect {
  color: #ffffff;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #00a896;
  border-radius: 6px;
  background-color: #00a896 ;
}
